---
import Card from "../components/Card.astro";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<main>
			<article>
				<h2>Hej verden</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt repellendus minus praesentium ullam non dolores ipsa molestias animi alias facilis accusantium soluta earum voluptatibus fugit optio perspiciatis totam, sunt repellat!</p>
				<button>Klik her</button>
			</article>

		<Card header="Hej Verden" text="Lorem ipsum dollar"/>

		</main>
	</body>
</html>
