---
const image = Astro.props.image;
const header = Astro.props.header;
const text = Astro.props.text;

//man kan skrive ovenst책ende p책 nedenst책ende m책de (en kortere verison):
// const {image, header, text} = Astro.props;

---

<article>
    <h2>{header}</h2>
    <p>{text}</p>
</article>

<style></style>