---
const image = Astro.props.image;
const header = Astro.props.header;
const text = Astro.props.text;
---


    <article>
        <p>{text}</p>
    <slot></>
	</article>

<article>
    <h2>{header}</h2>
    <p>{text}</p>
</article>

<style></style>