---
const image = Astro.props.image;
const header = Astro.props.header;
const text = Astro.props.text;

<<<<<<< HEAD
    <article>
        
        
        <p>{text}</p>
        <slot></>
	</article>
=======
//man kan skrive ovenst책ende p책 nedenst책ende m책de (en kortere verison):
// const {image, header, text} = Astro.props;

---
>>>>>>> 65040d25142ff2ff2f00315026999c4651931a09

<article>
    <h2>{header}</h2>
    <p>{text}</p>
</article>

<style></style>