<nav>
            <a href="/program">Program</a>
            <a href="/by">København K</a>
            <a href="/singleview">Singleview</a>
            <a href="/nyhedsbrev">nyhedsbrev</a>
        </nav>

        <style>
            nav {
                display: flex;
                justify-content: end;
                gap:1rem;
            }
            
        </style>